.heading{
    align-items: center;
    gap: 10px;
    
    height: 50px;
    padding: 5px;
    margin-bottom: 7rem;
    
    font-size: 8rem;
    letter-spacing: 5px;
    text-align: center;

    color:black;
} 
